<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>choice_eat.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,91},{86,87}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{86,87}}</string>
                <key>sourceSize</key>
                <string>{92,95}</string>
            </dict>
            <key>choice_gang.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{87,86}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{87,86}}</string>
                <key>sourceSize</key>
                <string>{93,94}</string>
            </dict>
            <key>choice_hu.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{86,85}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{86,85}}</string>
                <key>sourceSize</key>
                <string>{94,93}</string>
            </dict>
            <key>choice_pass.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,91},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{86,86}}</string>
                <key>sourceSize</key>
                <string>{92,96}</string>
            </dict>
            <key>choice_peng.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{87,91}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{87,91}}</string>
                <key>sourceSize</key>
                <string>{89,95}</string>
            </dict>
            <key>choice_ting.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,95},{87,86}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{87,86}}</string>
                <key>sourceSize</key>
                <string>{91,90}</string>
            </dict>
            <key>choice_xiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,91},{86,87}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{86,87}}</string>
                <key>sourceSize</key>
                <string>{92,95}</string>
            </dict>
            <key>choice_you.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,2},{87,87}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{87,87}}</string>
                <key>sourceSize</key>
                <string>{91,95}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>btn_choices.png</string>
            <key>size</key>
            <string>{355,183}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0cf3a73dd36ab6fd4c1fe960c9bf97e4:1b5cf9a096c79b3cc0a524ce45a63be1:5213350c7495eeb4c577e9709bcdf212$</string>
            <key>textureFileName</key>
            <string>btn_choices.png</string>
        </dict>
    </dict>
</plist>
